<div class="login">
   
    <% provide(:title, 'Sign up') %>
    <%=content_tag :h1 do %>
      <%=t 'log.signup' %>
    <%end %>

    <br>

    <div class="row">
      <div class="col-md-6 col-md-offset-0">
        <%= form_for(@user) do |f| %>
          <%= f.label t 'signup.name' %>
          <%= f.text_field :name %>

            <br><br>

          <%= f.label :email %>
          <%= f.email_field :email, :id => "validate" %>

           <br><br>

          <%= f.label t 'signup.password' %>
          <%= f.password_field :password, :id => "pass"  %>

            <br><br>

          <%= f.label t 'signup.confirmation' %>
          <%= f.password_field :password_confirmation, :id => "repass" %>

            <br><br>

          <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>

        <br>

        <a href="/auth/twitter" class = "btn"><i class="fa fa-th-large fa-twitter fa-2x"></i> Sign up with twitter </a>
        <a href="/auth/facebook" class = "btn"><i class="fa fa-th-large fa-facebook fa-2x"></i> Sign up with facebook</a>

      </div>
    </div>
</div>
 
  
 