</div>
<div class="navbar">
  <nav class="navbar navbar-default">
      <ul class = "someClass">
        <li id = "lude"><a href="default.asp"><%=t 'sport.football' %></a></li>
        <li id = "lude"><a href="news.asp"><%=t 'sport.basketball' %></a></li>
        <li id = "lude"><a href="contact.asp"><%=t 'sport.tennis' %></a></li>
        <li id = "lude"><a href="about.asp"><%=t 'sport.baseball' %></a></li>
        <li id = "lude"><a href = "#"><%=t 'sport.volleyball' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude">
          <a href="\signup"><span class = "glyphicon glyphicon-user"></span><%=t 'log.signup' %></a>
        </li>
        <% if logged_in? %>
        <li id = "lude">
          Signed in as <%= current_user.name %>
        </li>
        <li id = "lude">
           <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
        <% else %>
        <li id = "lude">
          <a href='\login'>
          <span class = "glyphicon glyphicon-log-in"></span>
          <%=t 'log.login' %></a>
        </li>

        <% end %>
      <form class="form-inline my-2 my-lg-0">
        <input class="from-control" placeholder="Search"/>
        <button class="btn btn-outline-sucess my-2 my-sm-0">Search</button>
      </form>
      </ul>
    </nav>
</div>

<h1><%=t 'welcome.title' %></h1>
<div class="login">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out","  /" , id: "sign_out" %>
  <% else %>
    <%= link_to "Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
<a href = "<%=I18n.locale = :en%>">Eng</a>
<a href = "<%=I18n.locale = :ru%>">Rus</a>
<div class="else">
  <% unless current_user.nil? %>
  <h1><%= current_user.name %></h1>
  <% end %>
</div>


<p>
<%= link_to I18n.locale == :en, "English", locale: :en %>
|
<%= link_to I18n.locale == :ru, "Russian", locale: :ru %>
</p>
