</div>
<div class="navbar" >
  <nav class="navbar navbar-default">
      <ul class = "someClass">
        <li id = "lude"><a href="default.asp"><%=t 'sport.football' %></a></li>
        <li id = "lude"><a href="news.asp"><%=t 'sport.basketball' %></a></li>
        <li id = "lude"><a href="contact.asp"><%=t 'sport.tennis' %></a></li>
        <li id = "lude"><a href="about.asp"><%=t 'sport.baseball' %></a></li>
        <li id = "lude"><a href = "#"><%=t 'sport.volleyball' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude"><a href = "shit.asp"><%=t 'sport.new' %></a></li>
        <li id = "lude">
          <a href="\signup"><span class = "glyphicon glyphicon-user"></span><%=t 'log.signup' %></a>
        </li>
        <% if logged_in? %>
        <li id = "lude">
          Signed in as <%= current_user.name %>
        </li>
        <li id = "lude">
           <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
        <% else %>
        <li id = "lude">
          <a href='\login'>
          <span class = "glyphicon glyphicon-log-in"></span>
          <%=t 'log.login' %></a>
        </li>
        <li id="lude"><a href="/auth/facebook">
    <i class="fa fa-facebook-official fa-1x" aria-hidden="true"></i>
    </a></li>





        <% end %>


     <form class="form-inline my-2 my-lg-0" size="10">
        <input class="from-control" placeholder="Search"/>

      </form>
      </ul>
    </nav>
</div>
<div class="welcometext">


<h1 a><%=t 'welcome.title' %></h1>
</div>
<div class="login">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out","  /" , id: "sign_out" %>
  <% end %>
</div>

<div class="else">
  <% unless current_user.nil? %>
  <h1><%= current_user.name %></h1>
  <% end %>
</div>
<a href = "<%=I18n.locale = :en%>">Eng</a>
<a href = "<%=I18n.locale = :ee%>">Est</a>
<a href = "<%=I18n.locale = :ru%>">Rus</a>
