<% set_locale %>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- logo -->
      <%= image_tag(image_url('Sport_balls.png'), size: '52') %>
    </div>

    <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav animated fadeIn text16">
        <li><a href="/"><%=t 'sport.football' %></a></li>
        <li><a href="#"><%=t 'sport.basketball' %></a></li>
        <li><a href="#"><%=t 'sport.tennis' %></a></li>
        <li><a href="#"><%=t 'sport.baseball' %></a></li>
        <li><a href="#"><%=t 'sport.volleyball' %></a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>

            <li><a >Signed in as  <font size="4" color="red"><b><%= current_user.name %></b> </font></a></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
            <li>
              <%= link_to "#{root_path}/signup" do %>
                <%=content_tag :span, :class => "glyphicon glyphicon-user" do %>
                  <%= t 'log.signup'%>
                <% end %>
              <% end %>
            </li>

            <li>
              <%= link_to "#{root_path}/login" do %>
                <%=content_tag :span, :class => "glyphicon glyphicon-log-in" do %>
                  <%= t 'log.login'%>
                <% end %>
              <% end %>
            </li>

            <li><a href="/auth/facebook"><i class="fa fa-facebook-official fa-1x" aria-hidden="true"></i></a></li>
            <li><a href="/auth/twitter"><i class="fa fa-th-large fa-twitter fa-1x" aria-hidden="true"></i> </a></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!--  <a class="navbar-brand" >TASport</a> -->
    </div>

    <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav animated fadeIn">
        <li ><%= link_to 'English', url_for( :locale => 'en' ) %></li>
        <li ><%= link_to 'Russian', url_for( :locale => 'ru' ) %></li>
        <li ><%= link_to 'Estonian', url_for( :locale => 'ee' ) %></li>

        <% if logged_in? %>
        <li><%=link_to "#{root_path}/show?id=#{current_user.id}" do %><%=t 'Profile' %><%end%></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% end %>

        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <ul class="nav navbar-nav animated fadeIn text16">
                <li><%=link_to root_path do %><%=t 'menu.home'%><%end%></li>
                <li><%=link_to "#{root_path}/about" do %><%=t 'menu.about' %><%end%></li>
            </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
