<!DOCTYPE html>
<html lang="ee">
<head>
  <title>Tasports</title>
  <meta charset="UTF-8">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
   <%= javascript_include_tag "application", "data-turbolinks-track" => true, async: true %>





  <script type="text/javascript">
if('serviceWorker' in navigator) {
  navigator.serviceWorker
           .register('/serviceworker.js')
           .then(function() { console.log("Service Worker Registered"); });
}
</script>


    <!-- popup -->
    <script type="text/javascript">
        $('#user').hover(function() {
            $('#popup').show();
        }, function() {
            $('#popup').hide();
        });
    </script>

    <!-- map -->
    <script>
        function myMap() {
            var myLatLng = {lat:58.378256,lng:26.715112};
            var map = new google.maps.Map(document.getElementById('googleMap'), {
                zoom: 17,
                center: myLatLng
            });
            var marker = new google.maps.Marker({
            position: myLatLng,
            map: map
            });
        }
    </script>



</head>

<!-- all pages -->
<body>
    <div class="container">
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>

    <div id="page-preloader"><span class="spinner"></span></div>

    <script type="text/javascript">
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = "";
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>
</body>

</html>
